@mixin font($family, $fw, $fs, $lh, $ls, $c) {
    font-family   : $family;
    font-weight   : $fw;
    font-size     : $fs;
    line-height   : $lh;
    letter-spacing: $ls;
    color         : $c;
}

$clr: #4A4A4A;

.NoFlightsFound {
    @include font('Open Sans', 600, 24px, 24px, 0, $clr);
    height: 18vh;

    p {
        padding-top: 7vh;
        text-align : center;
    }
}