@import './normalize.scss';

$bc : #F3F7FA;

body {
    background-color: $bc;
    padding         : 0 10%;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src        : url("../src/font/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    src        : url('../src/font/OpenSans-SemiBold.woff') format("woff");
}